* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  list-style: none;
}

.header {
  width: 250px;
  margin-bottom: 15px;
}

body {
  width: 90%;
  margin: 0.9rem auto;
  background-color: #ddd;
}

.container {
  display: flex;
  gap: 0.5rem;
}

.produtos-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.barra-lateral {
  width: 30%;
  background-color: rgb(254, 178, 36);
  text-align: center;
  position: relative;
}

.caixa {
  display: flex;
  background: white;
}

.caixa-img {
  width: 50%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 90%;
  max-height: 90%;
}

.informacoes-produto {
  width: 50%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0.9rem;
}

.btn-adicionar-carrinho {
  border: none;
  border-radius: 14px;
  cursor: pointer;
  background-color: rgb(254, 178, 36);
  max-width: 200px;
  padding: 2.8px;
}

.btn-adicionar-carrinho:hover {
  background-color: #333;
  color: white;
}

#titulo-carrinho {
  margin: 0.5rem;
}

.btn-finalizar-compra {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  background-color: white;
}

.btn-limpar-compras {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  background-color: white;
}

.btn-finalizar-compra {
  background-color: rgb(254, 178, 36);
}

.btn-finalizar-compra:hover {
  background-color: #333;
  color: white;
}

.btn-limpar-compras {
  background-color: #ddd;
}

.btn-limpar-compras:hover {
  background-color: #333;
  color: white;
}
